@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Assistant", sans-serif;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #e1cdbc;
    
}
/*whatsapp */
.whatsapp {
  display: flex;               
  align-items: center;        
  padding: 20px;              
  font-weight: 600;   
 
}

i {
  color: #25ba5b; 
  font-size: 30px; 
  margin-right: 10px; 
}
w {
  text-decoration: none; 
  color: 	#543a35;          
  font-size: 18px;     
}
w:hover {
  text-decoration: underline; 
  color: 	#543a35;           
}
/*load click*/

#loadContent{
  background: #e8dacd;
  margin-left: 300;

}
#contentContainer{
  margin-left: 15;
  
}

.header {
  background: #e8dacd;
  color: 	#543a35;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 7rem;
  margin: 0;
  letter-spacing: 0.1rem;
  border-top:2px solid #8f6b61;
}




/*navbar */
nav {
  background: #e8dacd;
  padding: 10px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #8f6b61; 
  border-top:2px solid #8f6b61;
  overflow: hidden;
  position: sticky;
  width: 100%;
  z-index: 1000;
}

.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: -15;
  display: flex;
}

.nav-links li {
  margin: 0;
}

.nav-links li a {
  display: block;
  color: 	#543a35;
  font-size: larger;
  font-weight: 600;
  padding: 14px 17px;
  text-decoration: none;
}

.nav-links li a:hover {
 
background: #543a35;
color:#e1cdbc ;
transition: 0.9s; 
}

.header__icons {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.header__icons a i {
  padding: 13px;
  margin-right: 15px;
    color: 	#543a35;
}
.header__icons a i:hover {
  transform: scale(1.5);
}

/* nav dynamic*/
.navbar {
  
  overflow: hidden;
}

.navbar a {
  float: left;
  display: flex;
  color:#543a35;
  font-weight: bold;
  text-align: center;
  padding: 20px 100px;
  text-decoration: none;
}

.navbar a:hover {
  background: #543a35;
  color:#e1cdbc ;
  transition: 0.9s; 
}
.page {
  display: none;
}

.page.active {
  display: flex;
}

#about{
  color: #543a35;
  margin-top: 30;
  font-weight: bold;
  margin-left: 70;
  margin-right: 40;
  margin-bottom: 70;
}
#story{
  color: #543a35;
  margin-top: 30;
  font-weight: bold;
  margin-left: 70;
  margin-right: 40;
  margin-bottom: 70;

}
#mission{
  color: #543a35;
  margin-top: 30;
  font-weight: bold;
  margin-left: 70;
  margin-right: 40;
  margin-bottom: 70;

}


/**/


/*search */
#search-container {
  display: flex;
  align-items: center;
  overflow: hidden;
 
}
#search-input {
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  outline: none; 
}
#search-input::placeholder {
  color: #543a35;
}
#search {
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  outline: none; 
}
#search:hover {
  background-color: #e8dacd;
  color: #543a35;
}
#search-container button
 {
  padding: 1em 3em;
  margin-left: -1em;
  background-color: #543a35;
  color: #e1cdbc;
  border-radius: 40px;
  border: none;
  margin-top: 1em;
}
#search-container input,
.contact-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #543a35;
  padding: 1em 1em;
  margin:  2%;
}
/*discovor ph */
.p-one {
background-image: url("img/p.jpeg");   
background-position: center;                    
text-align: center;            
border-radius: 10px;
}
.parallax-inner {
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 150px 0;
}
.headline {
  display: flex;
  height: 50vh;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.headline h2 {
  color: #ffffffea;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 3rem;
  margin-bottom: 50px;
}

.headline p {
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
}

.outline_btn {
  margin-top: 25px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  border: 1px solid #fcfcfc;
  border-radius: 4px;
  outline: 0;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  background-color: transparent;
  color: #fdfdfd;
  transition: all 0.45s ease;
}
.outline_btn:hover {
  background-color:#e1cdbc;
  color: #543a35;
  transform: translateY(-5px);
}
/*
.content-text p {
  background-color: #e75e24;
  color: #0e0e0e;
  padding: 45px 5%;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
  
}

.first-letter {
  color: #f8f0f0;
  float: left;
  font-weight: 400;
  font-size: 84px;
  line-height: 64px;
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 4px;
}

.line-break {
  border-bottom: 1px solid #eee6e6;
  width: 20px;
  margin: 0 auto;
}
.red {
  color: #5e5a58;
}
*
/*cetegory */
.categories {
  padding: 70px 10%;
}
.categories h2,
.contact h2 {
  color: #543a35;
  margin-bottom: 30px;
  font-size: 2rem;
}

.categories p,
.contact p {
  font-size: 1.3rem;
  color: #543a35;
  line-height: 1.5;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}
.category_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-value {
  border: 3px solid #543a35;
  padding: 10px 30px;
  border-radius: 9px;
  background-color: transparent;
  color: #543a35;
  cursor: pointer;
  margin: 5px 10px;
}
.active {
  background-color: #543a35;
  color: #e1cdbc;
}
.container {
  display: flex;
  align-items: flex-start;
}

.category_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: 4s;
}
.button-value:hover {
background: #543a35;
color:#e1cdbc ;
transition: 0.9s;
}

#buttons {
  display: flex;
  flex-direction: column;
  
  
}

.button-value {
  margin-top: 10px;
  margin-bottom: 10px; 
 
}


/* products  */
#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  padding: 5em 0;
}
.card {
  background-color: #e8dacd;
  max-width: 40em;
  margin-top: 1em;
 
  margin-right: 1em;
  padding: 2em;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
}
#heart-icon {
  position: absolute;
  right: 1.5em;
  top: 0.5em;
  font-size: 1.2rem;
  padding: 8px;
  background: #ffffff94;
  border-radius: 50%;
}
.card:hover {
  transform: translateY(20px);
}

.image-container {
  text-align: center;
}
.image-container img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  border-radius: 30px;
  transition: all 0.45s ease;
}

.image-container img:hover {
  transform: scale(1.3);
 
}

.container {
  padding-top: 1em;
  color: #543a35;
  display: flex;
  justify-content: space-between;
  font-size: x-large;
}


.cart-btn {
  border: none;
  outline: none;
  padding: 15px 10px;
  background: #543a35;
  color: 	#e8dacd;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.9s;
  margin-top: 2em;
}

.cart-btn:hover {
  background: 	#e1cdbc;
color: #543a35 ;
transition: 0.9s;
}

.hide {
  display: none;
}

.bxs-heart {
  color:#48030d;
}

/* service jordan */
.services {
  padding: 50px 5%;
  background: #957167;
  text-align: center;
  color: #412b27;
}

.services h2 {
  font-size: 3rem;
  margin-bottom: 15px;
  margin-top: 15px;
}

.services > p {
  font-size: 1.2rem;
  color: #543a35;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
  font-weight: bold;
}

.service-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  margin: 70px auto;
  gap: 3rem;
  
}

.service-card i {
  font-size: 3rem;
  color: #412b27;
}

.service-card h4 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.service-card p {
  padding: 0 15px;
  color: #543a35;
  font-weight: bold;
}


/*
#search-container,
#contact-container {
  margin: 0px 0px;
  margin-top: 0%;
}

#search-container input,
.contact-container input {
  background-color: transparent;
  width: 70%;
  outline: none;
  border: none;
  border-bottom: 2px solid #131212;
  padding: 1em 1em;
}

#search-container input:focus {
  border-bottom-color: #EF7C8E;
}

#email {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #EF7C8E;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  margin-top: 4em;
}


/* contact and email*/
.contact {
  background-color:	#e1cdbc ;
  min-height: 700px;
  padding: 150px 0px;
  text-align: center;
}

.contact h2,
.contact p {
  width: 70%;
  margin: 4px auto;
  color: #543a35;
  font-weight: bold;
}

.contact_form {
  width: 60%;
  margin: 10px auto;
}

#contact-container input {
  background: #e8dacd;
  margin-top: 30px;
  padding: 14px 15px;
  width: 60%;
  border-radius: 50px;
}

#email {
  padding: 1em 2em;
  margin-left: 1em;
  background-color:#543a35;
  color: #e1cdbc;
  border-radius: 50px;
  border: none;
  margin-top: 4em;
}
#email:hover{
  background:#e8dacd;
  color: #543a35 ;
  transition: 0.9s;
}


/* quick lines */
footer {
  
  background-color: #543a35;
  margin-top: 0 auto;
  padding: 50px 5%;
  display: flex;
  justify-content: space-between;
  align-items: start;
 
}

footer div {
  
  color: #e8dacd;
  width: 350px;
  
}

footer h5 {
  
  font-size: 18px;
  margin-bottom: 19px;
}

footer a p {
  font-size: 16px;
  margin-bottom: 19px;
  color: #e8dacd;
}
footer p:hover {
  background:#e8dacd;
  color: #543a35 ;
  transition: 0.9s;
}

footer i {
  font-size: 30px;
  color: #e8dacd;
  padding-right: 3rem;
  margin-top: 19px;
  cursor: pointer;
  transition: all 0.4s ease;
}
footer i:hover {
  transform: translateY(-5px);
  background:#e8dacd;
  color: #543a35 ;
  transition: 0.9s;
}




@media screen and (max-width: 576px) {
  nav {
    padding: 10px 5%;
  }
  .navbar {
    display: none;
  }
  #navbar a{
    display: none;
  }
  .main_header {
    width: auto;
  }

  .headline h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .headline p {
    width: 95%;
  }
  .outline_btn {
    padding: 0.6rem 1rem;
  }

  /* services */
  .services > p {
    width: 100%;
  }

  .service-container {
    flex-direction: column;
    width: 100%;
  }
  /* products */
  #products {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    max-width: 100%;
  }
  /* contact */
  .contact p,
  #contact-container input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  #email {
    padding: 1em 7.5em;
  }

  footer {
    flex-direction: column;
  }
  footer div {
    width: 100%;
  }
  navbar a{
    padding: 1em 7.5em;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}




@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-100px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}



